{% extends 'base.html' %}

{% block title %}login|{% endblock %}

{% load staticfiles %}
        



{% block body %}



<body class="bg-light">

<div class="container login">
            <div class="col-sm-4 offset-md-4">
 

                <div class="text-center mb-4">
                    
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                    
                    </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action = "" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for='username'>username</label>
                        <input type='text' class='form-control' name = 'username' placeholder="Enter username">
                    </div>
    
                    <div class="form-group">
                            <label for='password'>password</label>
                            <input type='password' class='form-control' name = 'password' placeholder="Enter password">
                        </div>
                        <div class="checkbox mb-3">
                              <label>
                                <input type="checkbox" value="remember-me"> Remember me
                              </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
                </form>
                <p>dont have an account?  <a href="{% url 'notes:register' %}">register</a> </p>
            </div>
    </div>      
</body>
{% endblock body %}
        











