<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Register | user
        </title>
    </head>
</html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                    <h1>Register</h1>
                    <p>already have an account?  <a href="{% url 'notes:login' %}">login</a> </p>
                    
                        <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                {{ field.error }}
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                            {% endfor %}
                            <input type="submit" class="bt btn-primary" value="submit"/>
                        </form>
            </div>
        </div>
    </div>
    
</body>