{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Register|{% endblock %}

{% load static %}




{% block body %}
<body class="bg-light">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 offset-sm-3">


                    <h1>Register</h1>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}


                        <form method="POST">

                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                            {% endfor %}
                            <input type="submit" class="btn btn-primary" value="submit"/>
                        </form>
                        <p>already have an account?  <a href="{% url 'notes:login' %}">login</a> </p>
            </div>
        </div>
    </div>
</body>
{% endblock body %}



