<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Alsaheem-Toffy</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet" type="text/css">

        <script async defer src="https://buttons.github.io/buttons.js"></script>

    </head>
    <body>
      <!-- navbar starts -->
      <style>
        body{
          font-family: 'Nunito', sans-serif;
        }
        .jumbotron-odi-hero{
        padding: 0rem 0rem;
         position: relative;
         max-width: 100%;

        }
        .jumbotron-odi-dark{
         max-width: 100%;
         padding: 0px;

        }

        .jumbotron-overlay {
         height:100%;
         padding: 100px 0;
         color:#fff;

        }
        .jumbotron-padding{
         padding-top: 6rem;

        }

        .btn-circle {
           border-radius: 30px;
        }

        .latest-news {
         border-bottom: .25rem solid transparent;
         border-bottom-color: #007bff;
        }
      </style>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark nav-masthead">
    <div class="container">
      <a class="navbar-brand" href="#"> <h3 class="masthead-brand mb-0"><i class="fas fa-fire-alt"></i></h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link p-2 font-weight-bold text-white" href="#">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 font-weight-bold text-white" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold p-2 text-white" href="#">About</a>
          </li>
        </ul>

       <a class="nav-link text-white p-2 font-weight-bold" href="#">Login</a>
        <a class="nav-link text-white p-2 font-weight-bold" href="#">Register</a>

      </div>
      </div>
    </nav>
<!-- nav bar ends -->

  <div class="jumbotron jumbotron-odi-hero bg-primary">
  <div class="jumbotron-overlay ">
      <div class="container jumbotron-padding  text-center">
      <h1 class="display-4">Create Your personalized notes and shorten your URL at a very high speed.</h1>
         <p>
            <a href="#" class="btn btn-lg btn-success btn-circle my-4 mr-3">Get started for free</a>
         </p>
      </div>
      <!-- features start -->
      <div class="container mt-3 ">
        <h2 class="py-4 h3 text-center  text-capitalize">Our Products</h2>
       <div class="row mt-5">
         <div class="col-md-6">
           <div class="card shadow">
             <div class="card-body">
               <div class="media">
                 <div class="mr-4" style="height:64px;width:64px;">
                   <i class="fa fa-rocket card-img-top fa-4x text-primary" aria-hidden="true"></i>
                 </div>
                 <div class="media-body">
                   <h4 class="mt-0 tex-dark">NotesCard</h4>
                   <p class=" text-secondary">You can create personalized notes in a really really short time :)</p>
                  <button class="btn btn-primary">Go to Notes</button>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <div class="card shadow">
             <div class="card-body">
               <div class="media">
                 <div class="mr-4" style="height:64px;width:64px;">
                   <i class="fa fa-leaf card-img-top fa-4x text-primary" aria-hidden="true"></i>
                 </div>
                 <div class="media-body">
                   <h4 class="mt-0 tex-dark">Url Shortner</h4>
                   <p class=" text-secondary">All your Urls can be shortened in a matter of lesser than 5 seconds.</p>
                   <button class="btn btn-primary">Go to Shortner</button>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>

   </div>
   <!-- features end -->
    </div>

</div>


         <div class="container mt-5" id="about">
                   <h1 class="text-center py-4">Why to choose Toffy-Alsaheem landing</h1>

                  <div class="row text-center mt-5">
                   <div class="col-md-3">
                    <div class="card shadow">
                      <div class="card-body">
                      <div class="py-3 text-center"> <i class="fas fa-rocket card-img-top fa-4x text-primary" aria-hidden="true"></i></div>
                      <div class="card-body">
                        <h4 class="card-title">Ready to ship</h4>
                        <p class="card-text">You can use this theme as personal as well as for commercial purpose & can customise it. </p>
                       </div>
                      </div>
                    </div>
                    </div>
                      <div class="col-md-3">
                     <div class="card shadow">
                      <div class="card-body">
                       <div class="py-3 text-center"><i class="fas fa-feather card-img-top fa-4x text-primary" aria-hidden="true"></i></div>
                      <div class="card-body">
                        <h4 class="card-title">Light weight</h4>
                        <p class="card-text">We avoid needless js and CSS which makes template more sleek and powerful. </p>
                       </div>
                      </div>
                    </div>
                    </div>
                      <div class="col-md-3">
                     <div class="card shadow">
                      <div class="card-body">
                      <div class="py-3 text-center"><i class="fa fa-tablet card-img-top fa-4x text-primary" aria-hidden="true"></i></div>

                      <div class="card-body">
                        <h4 class="card-title">Responsive </h4>
                        <p class="card-text">Our templates works in all devices (desktop,tablets and phones). </p>
                        </div>
                      </div>
                    </div>
                    </div>


                    <div class="col-md-3">
                     <div class="card shadow">
                      <div class="card-body">
                      <div class="py-3 text-center"><i class="fas fa-charging-station card-img-top fa-4x text-primary" aria-hidden="true"></i>
                     </div>
                      <div class="card-body">
                        <h4 class="card-title">Easy customisation</h4>
                        <p class="card-text">Our templates are clean,light weight and technically refined. </p>
                        </div>
                      </div>

                    </div>
                    </div>

                  </div>
                </div>
              <div class="container mt-5  text-center">
                 <p class="pt-5 pb-2 h4 text-monospace">Speed up your development with high quality themes.</p>
                <div class="row">

                  <div class="mx-auto" style="width: 800px;">
                    <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                  </div>

                </div>
              </div>
         <!-- blog post start -->
            <div class="container mt-5">
                   <h3 class="pt-4 d-inline latest-news">Latest News</h3>

                    <a href="" class="btn btn-outline-primary btn-circle d-inline float-right">View all</a>
                  <div class="row mt-5">
                  <div class="col-md-6">
              <div class="card mb-4 shadow-sm">
                <!-- <img class="card-img-top" src="images/jelly-pro-3.jpg"  alt=""> -->
                <img src="https://i.ibb.co/6cQtj2p/38351524-s-400-v-4.jpg" alt="38351524-s-400-v-4" border="0">
                <div class="card-body">
                  <h4 class="card-title mb-3 text-dark">
                  <a href="#" class="text-decoration-none text-dark font-weight-bold">
                    This is Alsaheem
                  </a>
                </h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>

                </div>
                 <div class="card-footer text-muted border-0 bg-white">

                  </div>
              </div>
            </div>
            <div class="col-md-6">
             <div class="card mb-4 shadow-sm">
                <!-- <img src="https://i.ibb.co/RSLvbdG/21toffy.jpg" alt="21toffy" border="0"> -->
                <img src="https://i.ibb.co/h9m2KfW/21toffy-1.jpg" alt="21toffy-1" border="0">
                <div class="card-body">
                  <h4 class="card-title mb-3 text-dark">
                    <a href="#" class="text-decoration-none text-dark font-weight-bold">
                   This is 21Toffy
                  </a>
                  </h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>

                </div>
                 <div class="card-footer text-muted border-0 bg-white">

                  </div>
              </div>
            </div>
    </div>
</div>
<!-- blog post end -->
<!-- footer start -->
    <footer class="bg-dark text-light py-5 mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <h3>Alsaheem-Toffy</h3>
                            <small class="d-block text-muted">© 2018-2019</small>
                            <small class="text-muted">All Rights Reserved.</small>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-9">

                            <div class="row no-gutters">
                                <div class="col-6 col-lg-3">
                                     <h5>Features</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#" class="text-muted">Ready to ship</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Light weight</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted"> Responsive</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Inner Pages</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h5>Resources</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#" class="text-muted">Angular</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Java</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Camunda API</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Postman</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                     <h5>Help</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#" class="text-muted">Forum</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Projects</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Site map</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h5>About</h5>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#" class="text-muted">Team</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Privact</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Terms</a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">Investment</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
<!-- footer end -->

    </body>
</html>
