.c_container {
	margin-top:15px;
	margin-bottom: 10px;
	background-color: rgba(122, 130, 136, 0.2);
	text-align: left;
	padding: 10px 3px 10px 1px;
}
.carousel {
	position: relative;
	
  }
.carousel-caption {
  position: absolute;
  background: rgba(0,0,0,0.4);
  padding: 15px 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}


body{
	background-image: url("../img/bg2.jpg");
	/* background-color: black; */
	color: black;
	text-align: center;
	color: black;
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: arial, Helvetica;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
    height: 100vh;
}


/* p {
	font-size: 14.1px;
	color: #878787;
	line-height: 2.2;
	font-weight: 500;
} */

img {
	max-width: 100%;
}


/*---------------------
  Commom elements
-----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	min-width: 100px;
	text-align: center;
	border: none;
	padding: 5px 5px;
	font-weight: 100;
	font-size: 16px;
	position: relative;
	color: #fff;
	cursor: pointer;
	background: #4d494a;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.btn-dark {
	background: #000;
}

.site-btn.btn-fade {
	background: #e4edef;
	color: #1f1f1f;
}



/*------------------
  Header section
---------------------*/

.header-section {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 60px;
}

.site-logo {
	display: inline-block;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 45px;
	font-weight: 600;
	padding: 20px 0 5px;
}

.main-menu ul li a:hover {
	color: #d82a4e;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

/*------------------
  Hero Section
---------------------*/


/*------------------
  Signup section
---------------------*/

.signup-section {
	background: #d82a4e;
	position: relative;
}

.signup-section .section-title {
	padding: 0;
	margin-bottom: 55px;
}

.signup-section .signup-bg {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 1;
}

.signup-warp {
	padding: 0 100px;
}

.signup-form,
.contact-form {
	background: #fff;
	padding: 60px;
}

.signup-form input[type=text],
.signup-form input[type=email],
.signup-form textarea,
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	height: 57px;
	width: 100%;
	padding: 0 30px;
	margin-bottom: 27px;
	float: left;
	border: none;
	font-size: 14px;
	font-weight: 500;
	background: #edf4f6;
}

.signup-form input[type=text]:focus,
.signup-form input[type=email]:focus,
.signup-form textarea:focus,
.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
	border-bottom: 2px solid #d82a4e;
}

.signup-form input[type=file],
.contact-form input[type=file] {
	display: none;
}

.signup-form textarea,
.contact-form textarea {
	padding-top: 23px;
	padding-bottom: 15px;
	height: 225px;
}

.signup-form .file-up-btn,
.contact-form .file-up-btn {
	display: block;
	background: #3e3e3e;
	color: #fff;
	max-width: 175px;
	padding: 13px 5px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 23px;
	clear: both;
	text-align: center;
	overflow: hidden;
}

.signup-form .site-btn,
.contact-form .site-btn {
	padding: 17px 10px;
}

.featured-courses {
	padding-top: 67px;
}


/*------------------
  Blog Page
---------------------*/

.blog-page {
	border-bottom: 2px solid #c5ced0;
}

.blog-post {
	margin-bottom: 70px;
}

.blog-post h3 {
	padding-top: 58px;
	margin-bottom: 15px;
}

.blog-post p {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 25px;
}

.blog-post .blog-metas {
	margin-bottom: 15px;
}

.blog-post .blog-metas .blog-meta {
	display: inline-block;
	padding: 9px 15px;
	position: relative;
	margin-bottom: 5px;
}

.blog-post .blog-metas .blog-meta:last-child:after {
	display: none;
}

.blog-post .blog-metas .blog-meta:after {
	position: absolute;
	content: "";
	width: 2px;
	height: 30px;
	right: 0;
	top: calc(50% - 15px);
	background: #c5ced0;
}

.blog-post .blog-metas .blog-meta.author {
	position: relative;
	padding-left: 50px;
}

.blog-post .blog-metas .blog-meta.author .post-author {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0;
	top: calc(50% - 17px);
	border-radius: 50%;
	float: left;
	margin-right: 5px;
}

.blog-post .blog-metas .blog-meta a {
	font-size: 14px;
	font-weight: 600;
	color: #878787;
}

.blog-post .site-btn.readmore {
	min-width: 172px;
}








/* styling article tag component */ 
article { 
	position: fixed; 
	margin-left: 10px; 
} 
	   
/* styling navbar --------------------------------------*/ 
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 20px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
	padding-left: 1rem;
	color:red;
}

.nav div.logo a {
    text-decoration: none;
    color: rgb(80, 80, 80);
	font-size: 2.0rem;
	font-weight: 600;
}

.nav div.logo a:hover {
    color: rgb(10, 10, 10);
}


/* take a look at this again */
.nav div.main_list {
    height: 5px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 25px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
	color: rgb(10, 10, 10);
    line-height: 65px;
	font-size: 2.0rem;
	font-weight: 500;
}

.nav div.main_list ul li a:hover {
    color: rgb(245, 51, 2);
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    /* background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80); */
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/* parting words div  */

.partingwordsdiv{
	background-color: lightgrey;
	color: lime;
}